<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="intelligent_express_cabinets.demo.dao.RolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="intelligent_express_cabinets.demo.entity.Roles">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="role_description" property="roleDescription" />
    </resultMap>

    <!--自定义ManyRoles返回样式-->
    <resultMap id="ManyRoles" type="intelligent_express_cabinets.demo.entity.Roles" extends="BaseResultMap">
        <id column="id" property="roleId"/>
        <result column="rname" property="roleName" />
        <result column="rdescription" property="roleDescription" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_name, role_description
    </sql>

    <select id="getRoles" resultMap="ManyRoles">
        SELECT
            r.role_id AS id,
            r.role_name AS rname,
            r.role_description AS rdescription
        FROM
            roles AS r
                LEFT JOIN user_role AS ur ON r.role_id=ur.role_id
        WHERE
            ur.user_id=#{userId}
    </select>

</mapper>
